<h3>Visited</h3>
{{#each this}}
  <div class="beenThere" visited="{{visited}}">
    <div>
      {{location}}
    </div>
    <div>
      {{#each reviews}}
      <span>{{title}}</span> | <span>{{date}}</span>
      {{/each}}
      <button id="add-review#{{@key}}">Add Review</button>
    </div>
  </div>
{{/each}}